.Field{
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    color: rgb(240, 240, 240);
}

.Field:nth-of-type(2){
    border-left: 3px solid rgb(240, 240, 240);
    border-right: 3px solid rgb(240, 240, 240);
}